body {
    background-color: whitesmoke;
    box-sizing: border-box;
    margin: 0 auto;
    color: #282c34;
    font-family: 'Segoe UI', Tahoma, Verdana, sans-serif;
    font-weight: 400;
}

main {
    margin: 0 8rem;
    text-align: center;
}

/* Logo */

#logo {
    margin: 2rem 0;
}

#logo img {
    height: 100px;
}

/* General */

section {
    margin: 2rem 0;
}

/* Form */

form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

/* Group Page */

#groups {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    gap: 2rem;
}

.group-card {
    border: 1px solid #282c34;
    border-radius: 8px;
    padding: 1rem 0.5em;
}