<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Bills</title>
    <link rel="stylesheet" href="../assets/css/style.css">
    <script type="module" src="../assets/js/bills.js" defer></script>
</head>
<body>
    <main>
        <div id="logo">
            <img src="../assets/img/logo_ver2.png" alt="logo">
            <h2>Split Bill</h2>
            <h3>BEST IN THE MARKET</h3>
        </div>
        <section id="bills">
            <h2>Group's bills:</h2>
            <table>
                <thead>
                    <tr>
                        <th>ID</th>
                        <th>Description</th>
                        <th>Amount</th>
                    </tr>
                </thead>
                <tbody>

                </tbody>
            </table>
        </section>
        <form id="bill-form">
            <h2>Add Bill</h2>
            <div>
                <label for="amount">Amount:</label><br>
                <input type="number" name="amount" placeholder="Enter amount" min="0" required>
            </div>
            <div>
                <label for="description">Description:</label><br>
                <input type="text" name="description" placeholder="Enter description" required>
            </div>
            <div>
                <button type="submit" id="bill-btn">Add</button>
            </div>
        </form>
    </main>
</body>
</html>