<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Groups</title>
    <link rel="stylesheet" href="../assets/css/style.css">
    <script type="module" src="../assets/js/script.js" defer></script>
</head>
<body>
    <main>
        <div id="logo">
            <img src="../assets/img/logo_ver2.png" alt="logo">
            <h2>Split Bill</h2>
            <h3>BEST IN THE MARKET</h3>
        </div>
        <h2>Your Groups</h2>
        <section id="output">
        </section>
        <form id="acc-form">
            <div>
                <label for="group_id">Add Group:</label><br>
                <input type="text" name="group_id" placeholder="Enter group id">
            </div>
            <div>
                <button type="submit" id="acc-btn">Add</button>
            </div>
        </form>
    </main>
</body>
</html>