<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login</title>
    <link rel="stylesheet" href="../assets/css/style.css">
    <script type="module" src="../assets/js/login.js" defer></script>
</head>
<body>
    <main>
        <div id="logo">
            <img src="../assets/img/logo_ver2.png" alt="logo">
            <h2>Split Bill</h2>
            <h3>BEST IN THE MARKET</h3>
        </div>
        <form id="log-form">
            <h2>Login</h2>
            <div>
                <label for="email">Email:</label><br>
                <input type="email" name="email" placeholder="Enter your email">
            </div>
            <div>
                <label for="password">Password:</label><br>
                <input type="password" name="password" placeholder="Enter password">
            </div>
            <div>
                <button type="submit" id="log-btn">Login</button>
            </div>
            <div>
                <a href="register.html">Don't have an account? Register Here</a>
            </div>
        </form>
        <div id="messageOutput">
            
        </div>
    </main>
</body>
</html>