<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Register</title>
</head>
<body>
    <form>
        <div>
            <label for="full_name">Full Name:</label><br>
            <input type="text" name="full_name" id="full_name" placeholder="Enter your name">
        </div>
        <div>
            <label for="email">Email:</label><br>
            <input type="email" name="email" placeholder="Enter your email">
        </div>
        <div>
            <label for="password">Email:</label><br>
            <input type="password" name="password" placeholder="Enter password">
        </div>
        <div>
            <input type="password" name="password2" placeholder="Re-enter password">
        </div>
        <div>
            <button type="submit" id="reg-btn">Register</button>
        </div>
    </form>
</body>
</html>